<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <!-- Barra Lateral -->
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col-sm-auto bg-light sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                    <ul class="nav nav-pills nav-flush flex-sm-column mb-auto mx-auto text-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                                <i class="bi bi-list fs-4"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                                <i class="bi bi-plus fs-4"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                                <i class="bi bi-star fs-4"></i>
                                <p>Inicio</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                <i class="bi bi-star fs-4"></i>
                                <p>Categorias</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                                <i class="bi bi-star fs-4"></i>
                                <p>Eventos</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/gerenciamento" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                                <i class="bi bi-star fs-4"></i>
                                <p>Configs</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Topo da página -->
        <header class="d-flex justify-content-between align-items-center p-3 bg-light">
            <button type="button" class="btn">
                <i class="bi bi-person-circle"></i>
            </button>
            <div>
                <a href="/admin/dashboard">
                    <button type="button" class="btn bi bi-gear"></button>
                </a>
            </div>
        </header>
        <!-- Conteúdo Principal -->
        <main class="content">
            <div class="d-flex justify-content-between">
                <h3>Dados do Evento</h3>
                <button type="button" class="btn BTN">
                    Editar
                    <i class="bi bi-calendar"></i>
                </button>
            </div>
            <div class="text-start d-flex justify-content-between">
                <ul>
                    <li>
                        <i class="bi bi-ticket-perforated fs-1"></i>
                        <h1><%=evento.nomeevento%></h1>
                    </li>
                    <li>
                        <h3>Local</h3>
                        <p>Expoville</p>
                    </li>
                    <li>
                        <h3>Data</h3>
                        <p><%=evento.dataevento%></p>
                    </li>
                    <li>
                        <h3>Descrição</h3>
                        <p><%=evento.descevento%></p>
                    </li>
                </ul>
                <div>
                    <img class="image_bilhete" src="<%=evento.imgevento%>" alt="Imagem de Bilhete">
                </div>
            </div>
        </main>
    </div>
</body>
</html>